* {
    font-family: Libre Franklin;
}

.nav {
    display: flex;
    background: red;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0rem;
    position: fixed;
    top: 0;
}


#navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 2rem;
}

body {
    background: #444040;
}

#welcome-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#projects {
    background: darkblue;
    text-align: center;
    padding: 10rem 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 5px;
}

img {
    width: 100%;
    border-radius: 20px;
}

.box {
    padding: 10px;
}

.titulo {
    color: white;
}

h1 {
    color: white;
    font-size: 3.5em;
    margin: auto;
}

h2 {
    text-decoration: underline;
    color: white;
    font-size: 2.5em;
}

#contact {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#contact a {
    color: white;
    margin-left:10px;
    margin-right: 10px;
}

@media screen and (min width: 200px) and (max-width:600)  {
    #contact a {
        color:green;
    }
    
}